.idea
**/*.iml
target
**/package-lock.json
src/main/resources/webroot/**/*
!src/main/resources/webroot/.gitkeep
src/main/frontend/node
src/main/frontend/node_modules
vertx-start-process.id# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties